<!-- partial:partials/header -->
<%- include('../layouts/header.ejs') %>

<!--begin::App-->
<div class="d-flex flex-column flex-root app-root" id="kt_app_root">

  <!--begin::Page-->
  <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
    <!--begin::navbar-->
    <div id="kt_app_header" class="app-header d-flex flex-column flex-stack">
      <!--begin::navbar main-->
      <%- include('../layouts/navbar.ejs') %>
      <!--end::navbar main-->
      <!--begin::Separator-->
      <div class="app-header-separator"></div>
      <!--end::Separator-->
    </div>
    <!--end::navbar-->

    <!--begin::Wrapper-->
    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
      <!--begin::Sidebar-->
      <div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
        <!--begin::Main-->
        <%- include('../layouts/sidebar.ejs') %>
        <!--end::Main-->
      </div>
      <!--end::Sidebar-->

      <!--begin::Main-->
      <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <!--begin::Content wrapper-->
        <div class="d-flex flex-column flex-column-fluid">
          <!--begin::Toolbar-->
          <div id="kt_app_toolbar" class="app-toolbar pt-5">
            <!--begin::Toolbar container-->
            <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
              <!--begin::Toolbar wrapper-->
              <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
                  <!--begin::Breadcrumb-->
                  <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-6">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                      <a href="" class="text-gray-500">
                        <i class="ki-solid ki-lovely fs-1 text-gray-400 me-n1"></i>
                      </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                      <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Campaign</li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                      <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <!-- <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                      <a href="<%= process.env.BASE_URL %>user-campaign" class="text-gray-700 text-hover-primary">View All User Campaign</a>
                    </li> -->
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                      <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">View Campaign Info</li>
                    <!--end::Item-->
                  </ul>
                  <!--end::Breadcrumb-->
                  <!--begin::Title-->
                  <h1 class="page-heading d-flex flex-column justify-content-start text-dark fw-bolder fs-1 lh-0 mt-1"><%= campaign.name  %></h1>
                  <!--end::Title-->
                </div>
                <!--end::Page title-->
              </div>
              <!--end::Toolbar wrapper-->
            </div>
            <!--end::Toolbar container-->
          </div>
          <!--end::Toolbar-->

          <!--begin::Content-->
          <div id="kt_app_content" class="app-content flex-column-fluid">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container container-fluid">

                  <!-- begin::layouts -->
              <div class="d-flex flex-column gap-7 gap-lg-10">
                <div class="d-flex flex-wrap flex-stack gap-5 gap-lg-10">
                  <!--begin:::Tabs-->
                  <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-3 fw-bold mb-lg-n2 me-auto" role="tablist">
                    <!--begin:::Tab item-->
                    <li class="nav-item" role="presentation">
                      <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_ecommerce_campaign_info" aria-selected="false" role="tab" tabindex="-1">Campaign Info</a>
                    </li>
                    <!--end:::Tab item-->

                    <!--begin:::Tab item-->
                    <li class="nav-item" role="presentation">
                      <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#kt_ecommerce_sales_donor_list" aria-selected="true" role="tab"> Donor List</a>
                    </li>
                    <!--end:::Tab item-->
                  </ul>
                  <!--end:::Tabs-->
                </div>

                <!--begin::Tab content-->
                <div class="tab-content">

                  <!--begin::Tab pane-->
                  <div class="tab-pane fade active show" id="kt_ecommerce_campaign_info" role="tab-panel">
                    <!-- begin::campaign info -->
                  <div class="d-flex flex-column flex-lg-row">
                    <!--begin::Sidebar-->
                    <div class="flex-column flex-lg-row-auto w-lg-250px w-xl-500px mb-5 order-1 order-lg-1 me-lg-10">

                        <!--begin::Card-->
                        <div class="card card-flush mb-10" >
                            <!--begin::Card header-->
                            <div class="card-header">
                                   <!--begin::Card title-->
                                   <div class="card-title">
                                    <h2>Campaign Info</h2>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
                
                        <!--begin::Card body-->
                        <div class="card-body pt-0 fs-6 pb-4">
                        <div class="table-responsive">
                                <!--begin::Table-->
                                <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                                    <tbody class="fw-semibold text-gray-600">
                                      <% if(campaign.userId) { %>
                                        <tr>
                                          <td class="text-gray-800 fw-bolder">User</td>
                                          <td class="text-gray-600 text-end fw-bold">   <%= campaign.userId.firstname %>&nbsp;<%= campaign.userId.lastname %></td>
                                        </tr>
                                        <tr>
                                          <td class="text-gray-800 fw-bolder">User Email</td>
                                          <td class="text-gray-600 text-end fw-bold"><%= campaign.userId.email %> </td>
                                        </tr>
                                        <tr>
                                          <td class="text-gray-800 fw-bolder">User Phone</td>
                                          <td class="text-gray-600 text-end fw-bold"><%= campaign.userId.phone_number %> </td>
                                        </tr>
                                        <% } else { %>
                                          <tr>
                                            <td class="text-gray-800 fw-bolder">User</td>
                                            <td class="text-gray-600 text-end fw-bold">N/A</td>
                                          </tr>
                                          <tr>
                                            <td class="text-gray-800 fw-bolder">User Email</td>
                                            <td class="text-gray-600 text-end fw-bold">N/A</td>
                                          </tr>
                                          <tr>
                                            <td class="text-gray-800 fw-bolder">User Phone</td>
                                            <td class="text-gray-600 text-end fw-bold">N/A</td>
                                          </tr>
                                        <% } %>
                                        
                                      <tr>
                                        <td class="text-gray-800 fw-bolder">Campaign Name</td>
                                        <td class="pe-0 text-end ">
                                            <div class="d-flex align-items-center justify-content-end">
                                                <!-- begin::Thumbnail -->
                                            <a href="<%= IMAGE_URL + campaign.image %>" class=" symbol symbol-circle symbol-25px overflow-hidden me-3" data-fslightbox="lightbox-basic">
                                              <img src="<%=  IMAGE_URL + campaign.image %>" alt="<%= campaign.image %>" class="symbol-label border border-gray-400">
                                           </a>
                                           <!-- end::Thumbnail -->
                                              <!--begin::Name-->
                                              <a class="text-gray-600 text-end fw-bold"><%= campaign.name %> </a>
                                              <!--end::Name-->
                                          </div>
                                         </td>
                                      </tr>
                                      <tr>
                                            <td class="text-gray-800 fw-bolder">Start Date</td>
                                            <td class="text-info text-end fw-bold">
                                                <%= new Date( campaign.starting_date).toLocaleDateString('en-US', {  year: 'numeric', month: 'long', day: 'numeric' }) %>
                                            </td>
                                      </tr>
                                      <tr>
                                        <td class="text-gray-800 fw-bolder">End Date</td>
                                            <td class="text-info text-end fw-bold"> 
                                                <%= new Date( campaign.ending_date).toLocaleDateString('en-US', {  year: 'numeric', month: 'long', day: 'numeric' }) %>
                                            </td>
                                      </tr>
                                      <tr>
                                        <td class="text-gray-800 fw-bolder">Organizer</td>
                                        <td class="pe-0 text-end text-gray-800">
                                            <div class="d-flex align-items-center justify-content-end">
                                                <!-- begin::Thumbnail -->
                                            <a href="<%= IMAGE_URL + campaign.organizer_image %>" class=" symbol symbol-circle symbol-25px overflow-hidden me-3" data-fslightbox="lightbox-basic">
                                              <img src="<%=  IMAGE_URL + campaign.organizer_image %>" alt="<%= campaign.organizer_image %>" class="symbol-label border border-gray-400">
                                           </a>
                                           <!-- end::Thumbnail -->
                                              <!--begin::Name-->
                                              <a class="text-gray-600 text-end fw-bold"><%= campaign.organizer_name %> </a>
                                              <!--end::Name-->
                                          </div>
                                         </td>
                                      </tr>
                                      <tr>
                                        <td class="text-gray-800 fw-bolder">Campaign Amount</td>
                                        <td class="fw-bolder text-primary text-end"><%= campaign.campaign_amount %></td>
                                    </tr>
                                    <tr>
                                      <td class="text-gray-800 fw-bolder">Donated Amount</td>
                                        <td class="pe-0 fw-bolder text-success text-end">
                                        <%= campaign.totalDonationAmount %>
                                      </td>
                                  </tr>
                                  <tr>
                                    <td class="text-gray-800 fw-bolder">Remaining Amount</td>
                                    <td class="pe-0 fw-bolder text-warning text-end">
                                      <%= campaign.remainingAmount %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-gray-800 fw-bolder">Remaining Time</td>
                                    <td class="fw-bolder text-danger text-end"><%= campaign.remainingTime %></td>
                                </tr>
                                <tr>
                                  <td class="text-gray-800  fw-bolder">Total Donor</td>
                                    <td class="pe-0 fw-bolder text-info text-end">
                                    <%= campaign.totalDonors %>
                                  </td>
                              </tr>
                              <tr>
                                <td class="text-gray-800  fw-bolder">Status</td>
                                  <td class="pe-0 fw-bolder text-info text-end">
                                    <% if (campaign.campaign_status === "Running") { %>
                                      <div class="badge badge-light-info fw-bolder">Running</div>
                                      <% } else if (campaign.campaign_status === "Upcoming") { %>
                                      <div class="badge badge-light-primary fw-bolder">Upcoming</div>
                                      <% } else { %>
                                      <div class="badge badge-light-orange fw-bolder">Ended</div>
                                      <% } %>
                                </td>
                            </tr>
                            <tr>
                              <td class="text-gray-800  fw-bolder">Approved</td>
                                <td class="pe-0 fw-bolder text-info text-end">
                                  <% if (campaign.isApproved === true) { %>
                                    <div class="badge badge-success">Approved</div>
                                    <% } else { %>
                                    <div class="badge badge-danger">Not Approve</div>
                                    <% } %>
                              </td>
                          </tr>
                                    </tbody>
                                </table>
                                <!--end::Table-->
                        </div>     
                        </div>
                        <!--end::Card body-->

                        </div>
                        <!--end::Card-->   

                        <a href="<%= process.env.BASE_URL %>user-campaign"> <button type="button" class="btn btn-primary">Back</button></a>

                    </div>
                    <!--end::Sidebar-->

                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid  order-2 order-lg-2 mb-10 mb-lg-0">

                        <!-- begin::row -->
                        <div class="row mb-10">
                            <div class="card card-flush flex-row-fluid border-hover-primary">
                                <!--begin::Card header-->
                                <div class="card-header">
                                  <div class="card-title">
                                    <h2>Description</h2>
                                  </div>
                                </div>
                                <!--end::Card header-->
                                <!--begin::Card body-->
                                <div class="card-body pt-0">
                                  <div class="table-responsive">
                                    <!--begin::Table-->
                                    <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5">
                                      <tbody class="fw-semibold text-gray-600 fs-5">
                                        <tr>
                                            <td class="fw-bold text-muted ">
                                            <%= campaign.description %>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <!--end::Table-->
                                  </div>
                                </div>
                                <!--end::Card body-->
                              </div>

                        </div>
                        <!-- end:: row -->

                        <!-- begin::row -->
                        <div class="row">
                             <!--begin::Card-->
                       <div class="card card-flush mb-10" >
                        <!--begin::Card header-->
                        <div class="card-header">
                               <!--begin::Card title-->
                               <div class="card-title">
                                <h1>Gallery</h2>
                            </div>
                            <!--end::Card title-->
                        </div>
                        <!--end::Card header-->
            
                    <!--begin::Card body-->
                    <div class="card-body pt-0 fs-6 pb-4">
                        <div class="row g-6 g-xl-9 mb-6 mb-xl-9">
                            <% if (campaign.gallery && campaign.gallery.length > 0) { %>
                                <% campaign.gallery.forEach((item, index) => { %>
                                     <!--begin::Col-->
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <!--begin::Card-->
                                <div class="card h-100 " style="box-shadow: none;">
                            <!--begin::Card body-->
                            <div class="card-body d-flex justify-content-center text-center flex-column p-8">
                                <!--begin::Name-->
                                <a href="<%= IMAGE_URL + item %>" class="symbol symbol-100px symbol-lg-160px symbol-fixed text-gray-800 text-hover-primary d-flex flex-column" data-fslightbox="lightbox-basic">
                                    <img src="<%= IMAGE_URL + item %>" class="theme-light-show overflow-hidden" alt="">  
                                </a>
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Card-->
                            </div>
                            <!--end::Col-->
                                <% }); %>
                            <% } else { %>
                            <p class="fs-4 text-muted">No gallery images available.</p>
                            <% } %>
                        </div>
                    </div>
                    <!--end::Card body-->

                       </div>
                      <!--end::Card-->   

                      </div>
                         <!-- end:row -->
                      
                   </div>  
                    <!--end::Content-->
                
                  </div>
                     <!-- end::campaign info -->
                  </div>
                  <!-- end::Tab pane -->

                  <!--begin::Tab pane-->
                  <div class="tab-pane fade" id="kt_ecommerce_sales_donor_list" role="tab-panel">
                    <!--begin: donor-->
                    <div class="card card-flush mb-10">
                      <!--begin::Card header-->
                      <div class="card-header border-0 pt-6">
                        <!--begin::Card title-->
                        <div class="card-title mb-5">
                          <!--begin::Search-->
                          <div class="d-flex align-items-center position-relative my-1">
                            <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>
                            <input type="text" data-kt-customer-table-filter="search" class="form-control w-250px ps-12" placeholder="Search Donor" />
                          </div>
                          <!--end::Search-->
                        </div>
                        <!--begin::Card title-->
                      </div>
                      <!--end::Card header-->
                      <!--begin::Card body-->
                      <div class="card-body pt-0 ">
                        <!--begin::Table-->
                        <div class="table-responsive mb-3">
                          <table id="kt_customers_table" class="table align-middle table-row-dashed fs-6 gy-5">
                            <thead>
                              <tr class="text-start text-gray-400 fw-bold fs-5 text-uppercase gs-0">
                                <th class="min-w-70px">no</th>
                                <th class="min-w-90px">Date</th>
                                <th class="min-w-100px">Name</th>
                                <th class="min-w-100px">Email</th>
                                <th class="min-w-100px">Contact</th>
                                <th class="min-w-70px">Amount</th>
                                <th class="min-w-90px">Method</th>
                                <th class="min-w-125px">Transaction ID</th>
                                <th class="min-w-60px">p.Status</th>
                              </tr>
                            </thead>
                            <tbody class="fw-semibold text-gray-600">
                              <% if (donor.length > 0) { %>
                              <% for (let i = 0; i < donor.length; i++) { %>
                              <!-- begin:: tr -->
                              <tr>
                                <td class=""><%= i+1 %></td>
                                <td class="pe-0 fw-bolder text-gray-800">
                                  <%= new Date( donor[i].date).toLocaleDateString('en-US', {  year: 'numeric', month: 'short', day: 'numeric' }) %>
                                </td>
                                <td class="fw-bolder text-dark"><%= donor[i].userId ? donor[i].userId.firstname + " " + donor[i].userId.lastname : "N/A" %>  </td>
                                <td class="pe-0 fw-bold">
                                  <%= donor[i].userId ? "+" + donor[i].userId.country_code + " " + donor[i].userId.phone_number : "N/A" %>
                                </td>
                                <td class="pe-0 text-primary fw-bolder"><%= donor[i].amount %></td>
                                <td class="pe-0 fw-bolder"><%= donor[i].payment_method %> </td>
                                <td class="pe-0 fw-bolder"><%= donor[i].transaction_id %> </td>
                                <td class="pe-0 fw-bolder">
                                  <span class="badge badge-light-<%= donor[i].payment_status === 'Successful' ? 'success' : 'danger' %>">
                                    <%= donor[i].payment_status %>
                                  </span>
                                </td>
                              </tr>
                              <!-- end::tr -->
                              <% } %>
                              <% } else { %>
                              <!-- <p class="text-center fs-4">No donor record available.</p> -->
                              <% } %>
                            </tbody>
                          </table>
                        </div>
                        <!--end::Table-->
                      </div>
                      <!--end::Card body-->
                    </div>
                    <!--end: donor-->

                    <a href="<%= process.env.BASE_URL %>user-campaign"> <button type="button" class="btn btn-primary">Back</button></a>
                  </div>
                  <!--end::Tab pane-->

                </div>
                <!--end::Tab pane-->

              </div>
              <!--end::layouts-->

             

            </div>
            <!--end::Content container-->
          </div>
          <!--end::Content-->
        </div>
        <!--end::Content wrapper-->

        <!--begin::Footer-->
        <div id="kt_app_footer" class="app-footer align-items-center justify-content-center justify-content-md-between flex-column flex-md-row py-3">
          <!--begin::Copyright-->
          <div class="text-dark order-2 order-md-1">
            <span class="fw-bolder fw-semibold me-1"></span>
            <a href="#" target="_blank" class="text-gray-800 text-hover-primary"></a>
          </div>
          <!--end::Copyright-->
        </div>
        <!--end::Footer-->
      </div>
      <!--end:::Main-->


    </div>
    <!--end::Wrapper-->

  </div>
  <!--end::Page-->
</div>
<!--end::App-->

<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
  <i class="ki-duotone ki-arrow-up">
    <span class="path1"></span>
    <span class="path2"></span>
  </i>
</div>
<!--end::Scrolltop-->

<!-- partial:partials/header -->
<%- include('../layouts/footer.ejs') %>